body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color:hsl(209, 61%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section{
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 2rem;
}

.section-center{
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px purple;
  transition: all 0.3s linear;
  padding: 2rem;

}

.form{
  display: flex;
  justify-content: center;
}

.edit-btn,
.delete-btn{
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.0rem;
  margin: 0 0.10rem;
  transition: all 0.3s linear;
}

.edit-btn{
  color: lightgreen
}

.delete-btn{
  color: red ;
}
